# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

src/public/.env
src/public/models
src/public/datasets/Reviews.csv
src/public/datasets/verifiableClaims.jsonl

node_modules
dist
dist-ssr
*.local

claim_encodings.npz

# Editor directories and files
.vscode
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
